__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

.vscode

.pytest_cache

# ignore data files
data/**/*.txt
data/**/*.csv
data/**/*.json
data/**/*.parquet
data/**/*.db
data/**/*.jpg

# random files from the data repository
data/**/_SUCCESS
data/**/_committed*
data/**/_started*
data/**/part-*